{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <h1>About Us</h1>
    <div class="content">
        <h2>Section 1 - About who you are</h2>
        <p>My name is Phillip Oyediran, I'm a senior currently attending Georgia State University studying Computer Science.</p>

        <h2>Section 2 - Project Description</h2>
        <p>We chose this project to create a practical and user-friendly to-do list application that helps users organize their tasks efficiently. The project demonstrates key web development concepts such as user authentication, dynamic content updates, and responsive design.</p>

        <h2>Section 3 - Technology Used</h2>
        <p>This website is built using Flask for the backend, PostgreSQL for the database, and HTML, CSS, and JavaScript for the frontend. AJAX is used for dynamic content updates, and the site is styled to be responsive and intuitive.</p>

        <h2>Section 4 - What you have learned</h2>
        <p>I've learned that no matter the situation there is a positive way to look at things. I've also learned how to use HTML, CSS, JavaScript, Flask, AJAX, AWS EC2, and Heroku.</p>
    </div>
</div>
{% endblock %}
