{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <h1>Checklist</h1>
    <div class="content">
        <ul>
            <li>Home Page - <a href="/">Home</a></li>
            <li>Checklist Page  <a href="/checklist">Checklist</a></li>
            <li>Site Description Page  <a href="/site_description">Site Description</a></li>
            <li>About Us Page  <a href="/about_us">About Us</a></li>
            <li>Login Page  <a href="/login">Login</a></li>
            <li>Dashboard (To-Do List)  <a href="/dashboard">Dashboard</a></li>
        </ul>
    </div>
</div>
{% endblock %}
